.relative {
  position: relative;
}

.wc-product-youtube-video {
  margin-bottom: 30px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.e-font-icon-svg {
  width: 24px;
}

.headline-cross__animate {
  position: absolute;
  width: 100%;
  left: 0;
  fill: red;
  z-index: -1;
}

.header-underline__animate {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -4px;
  fill: yellow;
  z-index: -1;
}